@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-pink-dark: #fa90fb;
    --color-pink-light: #fec9fc;
    --color-pink-bg: #f7f2f8;
    --color-primary-palest: #faf4f9;
    --color-primary-paler: #ddd2df;
    --color-primary-paled: #c0b0c5;
    --color-primary-pale: #a48dac;
    --color-primary-paley: #876b92;
    --color-primary-shade: #6a4978;
    --color-primary-shader: #5d416c;
    --color-primary-shadest: #4f3960;
    --color-primary-shadestest: #423054;
    --color-primary-shadestester: #342848;
    --color-primary-shadestestester: #27203c;
    
}

/*  */
